<div  class="body">
	<div class="post-view mt-5">
	<div class="card text-center card-style">
		<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
			<a class="nav-link" [ngClass]="mode == 'view' ? 'active disabled' : 'none'" (click)="chengeMode('view')" aria-current="true" >View</a>
			</li>

			<li>
			<a class="nav-link  " [ngClass]="mode == 'edit' ? 'active disabled' : 'none'" (click)="chengeMode('edit')" tabindex="-1" aria-disabled="true">Edit</a
			>
			</li>

		</ul>
		</div><br>
		<ng-container *ngIf="post">
			<div>Written by : &nbsp; <strong>{{usersService.users[post.userId]}}</strong></div>
			<ng-container *ngIf="mode == 'view'; else elseBlock">
				<div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<p class="card-text">{{post.body}}</p><br>
				
				</div>
			</ng-container>
			<ng-template #elseBlock>
				<app-edit-post [post]="post" (closeEdit)="chengeMode('view')"></app-edit-post>
			</ng-template>
		</ng-container>
		<div routerLink="/posts/" class="card-footer btn">Close</div>
	</div>
	</div>
</div>

